<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h2>User Info:</h2>
    <table>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
        <% for(let obj of dataset){ %>
        <tr>
          <td><%= obj.firstName %> </td>
          <td><%= obj.lastName %> </td>
          <td><%= obj.email %> </td>
          <td><%= obj.phone %> </td>
        </tr>
        <% } %>
      </table>

    
</body>
</html>